* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400; /* Regular */
  color: #1c1c1c;
  background-color: rgb(254, 254, 254);
}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}
* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

div{
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Transparent box */
.transparent {
  position: relative;
  background: linear-gradient(106deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.07);
}

.transparent::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0) 35%, rgba(55, 0, 179, 0.25) 80%, rgba(255, 255, 255, 0.4));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, 
  linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}


/*  */
.default-card {
  background-color: #fff;
  border: 1px solid;
  border-color: #dadada;
  border-radius: 16px;
}

/* Layout */
body {
  display: flex;
  justify-content: center;
  position: relative;
}

.outer-container{
  margin: 15vh;
}

.inner-container {
  display: flex;
}

/* Navigation */
.nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3vh;
}

.nav-icon {
  margin-left: 25px;
}

.nav-icon > img {
  padding: 3px;
}


/* Footer */
.footer {
  position: fixed;
  bottom: 4vh;
  left: 50%;
  transform: translateX(-50%); /* moves the element back by half its width, centering it */
  display: flex;
  gap: 12px;
  align-items: center;
}

/* Chart */
.chart-card {
  padding: 40px;
  height: 400px;
  margin-right: 35px;
  box-shadow: 0 4px 5px -3px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.sidebar .small-text {
  font-size: 13px;
  font-weight: 400;
}

.sidebar .medium-text {
  font-size: 16px;
}
.sidebar .big-text {
  font-size: 32px;
}

.sidebar-card {
  width: 220px;
  height: 110px;
  padding: 18px;
}


/* Price Card */
.price-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price-value {
  align-self: center;
}

.price-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.price-card-top > div {
  display: flex;
  align-items: center;
  gap: 7px;
}

/* Latency Card */
.latency-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Small box */
.small-box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.small-box {
  height: 59px;
  width: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Custom Symbol Box */
.btc-box {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background: rgb(255, 149, 0);
}